
<!-- for loop -->
     {% for course_i in course %}
     <div class="post clearfix">
      <figure>
       <img src="{{STATIC_URL}}imgs/content/300/2.jpg" alt="Post 1" />
       <div class="cat-name">
        <span class="base">Education</span> <!-- Category Name -->
       </div>
      </figure>
      <div class="content">
       <h2><a href="single_post.html" title="View permalink Alvear Art Black and White Theme">{{course_i.name}}</a></h2>
       <p>{{course_i.description}}</p>
      </div>
      <div class="meta">
       <span class="pull-left">By <a href="author.html">{{course_i.instructor.user.username}}</a> - {{course_i.date_added}} | <a href="single_post.html">15 comments</a></span>
       <span class="pull-right"><a href="single_post.html">Readmore...</a></span>
      </div>
     </div>
     {% endfor %}

<!-- auto form -->
<form method="post">{% csrf_token %} 
{{form}}<input type="submit">
</form>